<h1>Edit your profile</h1>

<%=form_for @user  do |f| %>
  <%=f.label :fname, "First Name"  %>
  <%=f.text_field :fname %>
  <%=f.label :lname  %>
  <%=f.text_field :lname %>
  <%=f.submit "using a string" %>
<% end %>